/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background: #45BDDC;
}
html h1,
html h2,
html h3 {
  color: #49d49d;
}
html p {
  color: #b0ffd4;
}
html .container {
  background: #00161C;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
html .container header {
  border-bottom: 10px solid #45BDDC;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .container header .headtext h1 {
  font-size: 40px;
}
html .container header .headtext p {
  font-size: 14px;
}
html .container header img {
  width: 35%;
  height: 100%;
}
html .container .topsection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 10px solid #45BDDC;
}
html .container .topsection nav {
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
html .container .topsection nav a {
  text-decoration: underline;
  color: #25a18e;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
html .container .Intro {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
